.header {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.header__title {
  margin: 0;
}

.header__subtitle {
  margin: 0;
  margin-top: 10px;
  font-size: 25px;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.todo-container {
  width: 550px;
  margin: 50px auto 0;
}

.todo-input {
  width: inherit;
  border: none;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #ededed;
}

.todo-input::placeholder {
  font-style: italic;
}

.todo-input:focus {
  border: 2px solid rgb(55, 0, 255);
  border-radius: 3px;
  outline: none;
}

.item {
  display: flex;
  background-color: #fff;
  position: relative;
  font-size: 22px;
  border-bottom: 1px solid #ededed;
}

.item__checkbox {
  bottom: 0;
  top: 0;
  left: 20px;
  /* height: auto; */
  margin: auto 0;
  position: absolute;
  width: 23px;
}

.item__description {
  max-width: 550px;
  padding: 15px 15px 15px 60px;
}
