body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9fa1a5;
}

.header {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.header__title {
  margin: 0;
}

.header__subtitle {
  margin: 0;
  margin-top: 10px;
  font-size: 25px;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.todo-container {
  width: 550px;
  margin: 50px auto 0;
  background-color: #fff;
}

.todo-input {
  width: inherit;
  border: none;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #ededed;
}

.todo-input::placeholder {
  font-style: italic;
}

.todo-input:focus {
  outline: 2px solid rgb(55, 0, 255);
  border-radius: 3px;
}

.item {
  display: flex;
  position: relative;
  font-size: 22px;
  border-bottom: 1px solid #ededed;
  max-width: 550px;
  padding: 15px 15px 15px 60px;
}

.item__checkbox {
  bottom: 0;
  top: 0;
  left: 20px;
  /* height: auto; */
  margin: auto 0;
  position: absolute;
  width: 23px;
}

.item__description {
  max-width: 450px;
  word-break: break-all;
  border: none;
  font-size: inherit;
}

.item__description_checked {
  text-decoration: line-through;
  color: rgb(156, 156, 156);
}

.filtres {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.todo-params {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 16px;
}

.button {
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

.button_filter {
  padding: 3px 7px;
}

.button_filter:hover {
  border-radius: 3px;
  outline: 2px solid rgb(55, 0, 255);
}

.button_clear:hover {
  text-decoration: underline;
}

.item__delete-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 600;
  color: #cfcfcf;
}

.item__delete-btn:hover {
  color: #db0000;
}
